body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(212, 212, 212);
}
.container {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;  
    background-color: #fff; 
}

.container h1 {
    text-align: center;
    padding-top: 20px;
}

.container p {
    text-align: center;
}
.table {
    margin: 30px 50px;
}
input {
    width: 100%;
    padding: 10px 10px;
    display: block;
    border: 1px solid rgb(201, 201, 201);
}

label{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}
button {
    font-weight: 700;
    padding: 10px 12px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin-top: 30px;
    background-color: #6558f5;
    border-radius: 5px;
    border: none;
}

#resultBMI {
    margin-top: 40px;
    /* text-align: center; */
}
#resultBMI p {
    font-size: 18px;
}

#resultBMI span {
    font-weight: bold;
}